@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Poppins:ital,wght@0,500;1,200;1,300;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
}








/* --------------heder----------------------  */


.header {
    display: flex;
    align-items: center;
    background-image: -webkit-linear-gradient(left, rgb(19, 37, 102), rgb(107, 179, 35));
    padding: 10px;
    position: relative;
}


.logo {
    float: left;
    width: 120px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.banner img {
    width: 100%;
}



.logo {
    float: left;
    width: 120px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.banner img {
    width: 100%;
}


.login {
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: absolute;
    top: 25%;
    right: 0%;
}

.login span {
    font-size: 15px;
    color: white;

}

.bx {
    font-size: 30px;
    color: white;

}

/* ---------------------- second part ---------------  */

.hiding {

    margin: .9% 20%;
}

.scond_section{
    margin: 0 .5%;
}

.first-d
 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: -webkit-linear-gradient(left, rgb(19, 37, 102), rgb(107, 179, 35));
    margin-bottom: 20px;
    color: #fff;
    border-radius: 14px;
    box-shadow: rgb(0, 0, 0) 0px 0.5px 8px 2px;
}

.course-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.course-icon img {
    width: 100%;
}

/* --------------------third section--------------------- */




.row{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: -webkit-linear-gradient(left, rgb(19, 37, 102), rgb(107, 179, 35));
    margin-bottom: 20px;
    color: #fff;
    border-radius: 14px;
    box-shadow: rgb(0, 0, 0) 0px 0.5px 8px 2px;
}

.full{
    display: flex;
    justify-content: space-between;
}
.righy{
    flex-basis: 40%;
    /* background-color: red; */
}
.lephy{
    flex-basis: 50%;
    /* background-color: rgb(16, 14, 14); */
}
.content{
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content:space-between;
    align-items: center;
  
}

.lephy h1{
    font-size: 20px;
}

.main{
   width: 30%;
   padding: 15px 5px;
}

.righy img{
    width: 106px;
}

.buten{
    margin-top: 10px ;
}


.rtn{
    background-color: rgb(55, 55, 160);
   
    border-radius: 25px;
    border:transparent ;
    font-size: 8px;
    padding: 7px 14px;
}

.btn{
    background-color: rgb(34, 126, 66);
    font-size: 8px;
    padding: 7px 14px;
    border-radius: 25px;
    border:transparent ;
}




/* ------------------fourth container------------- */


.fourth_d{
    display: flex;
 justify-content: center;
    
}

.toppers{
    flex-basis: 27%;
    margin: 0 2%;
}

.toppers img{
width: 90%;
}

.toppers h3{
    text-align: center;
}

/* ----------------------fifth section------------------ */

.nfo_main{
    display: flex;
    justify-content: space-between;
   align-items: center;
   /* background-color: aquamarine; */
}

.info_img{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis:31%;
    position: relative;
}

.info_img  img {
   width: 65%;
  
}

.info_img h3{
    position: absolute;
    top: 50%;
    left: 35%;
    color:red;
    
   
}



/* ------------------sixth section-------------------  */


.teac_main_con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teach_info{
    flex-basis: 22%;
    margin-bottom: 20px;
}

.teach_info img {
    border: 2px solid saddlebrown;
    border-radius:20px;
    width: 100%;
}

.teach_info p{
    text-align: center;
   
}




/* ----------seventh section ---------------- */

.new-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    background-image: -webkit-linear-gradient(left, rgb(19, 37, 102), rgb(107, 179, 35));
    /* margin: 1% 20%; */
    color: #fff;
    position: absolute;
    top: -2.1%;
    left: 0;
  
}

.new-nav ul li {
   list-style: none;
   display: inline-block;
   
   padding: 10px 20px;
}
.new-nav ul li a{
 text-decoration: none;
 color: black;

}



.red:hover{
    border: .3px solid rgb(21, 0, 128);
    background-color: #fff;
    color: black;

}

li.active{
    background-color: #fff;
    color: black;
  
}

.bor{
  
    border: 20px solid rgb(226, 220, 220);
     margin: 1% 20%;
     position: relative;
     border-radius: 15px;
     outline: .9 px black;
    
}

.hr_main{
    margin-top:5% ;
 padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;

}

.h-right{
    width: 48%;

}

.h-left{
    width: 48%;
  
}


.mahu{
    width: 100%;
    padding-bottom: 10px;
}
.main_sa h2,p{
font-size: 20px;
padding: 5px 0;
}

.main_sa p{
    font-size: 15px;
    padding: 5px 0; 
}

.secodnd{
   padding: 20px 0; 
   color: red;
}


/* ------------------------footer section-------------- */



.footer{
    padding: 20px 20px 100px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292c2f;
    color: white;
}

.top, .bottom{
    width: 50%;
    display: flex;
    
}

.sub_footer{
   
    width: 50%;
}

.call{
     display: flex;
     
}
.icon{
    display: flex;
}

.name{
    margin: 0 0 0 20px;
    /* background-color: red; */
}

 .bxl-instagram-alt,.bxl-twitter{
font-size: 40px;
margin: 10px 15px;
background-color: rgb(123, 120, 117);
border-radius: 4px; 

}

.bxs-phone-call{
    font-size: 40px;
    margin:10px;
    background-color: rgb(123, 120, 117);
    border-radius: 4px; 

    }
 i.bx-envelope p{
    color: red;
}

.bxl-facebook{
    font-size: 40px;
    margin: 10px  15px 10px 0px;
    background-color: rgb(123, 120, 117);
    border-radius: 4px; 
    
}
.bxl-gmail{
    font-size: 40px;
    margin: 10px 15px;
    background-color: rgb(123, 120, 117);
    border-radius: 4px; 
}




/* css for small screen  --------  */

@media only screen and (max-width:600px){
    .bx{
        font-size: 25px;
    }
    nav ul li {
        display: none;
    }
    .first-d h2{
        font-size: 15px;
    }
    .row h1{
        font-size: 15px;
        padding: 4px 0;
    }

    .hiding {
        margin: .9% 2%;
      }
      .main {
        width: 50%;
        padding: 8px 1px;
      }
      .righy img {
        width: 60px;
      }
      .lephy h1{
        font-size: 9px;
      }
      
    .main h2, p {
  font-size: 6px;
  padding: 5px 0;
}
.buten {
  margin-top: 1px;
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
}
.btn {
  background-color: rgb(34, 126, 66);
  font-size: 6px;
  padding: 4px ;
  border-radius: 25px;
  border: transparent;
}
.rtn {
    background-color: rgb(34, 66, 126);
    font-size: 6px;
    padding: 4px;
    border-radius: 25px;
    border: transparent;
  }

  
.toppers {
  flex-basis: 30%;
  
}
.toppers h3{
    font-size: 10px;
    margin: 0%;
}
.first-d h3{
    font-size: 17px;
}
.first-d {
    margin-bottom: 10px;
}
.info_img img{
    width: 90%;
}
.info_img{
    margin-top: 10px;
}


.info_img h3{
    font-size: 15px;
    top: 30%;
    left: 5%;
    
}
.teach_info{
    margin-bottom: 10px;
}

.bor {
  border: 7px solid rgb(226, 220, 220);
  position: relative;
  border-radius: 15px;
  outline: .9 px black;
  margin: 0;

}



.new-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 7px;

}
.new-nav{
    top: 0;
    left: 0;
}
.new-nav ul li{
    padding: 2px;
}
.hr_main{
    padding: 0 10px;
    margin-top: 28px;
}
.main_sa p {
    font-size: 10px;
    padding: 3px 0;
  }

  .main_sa h2 {
    font-size: 15px;
  }
  .footer{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
  }
  .sub_footer{
    width: 50%;
  }

  .footer{
      padding: 10px 5px 50px 5px;
    flex-direction: column;
  }

.top, .bottom {
  width: 100%;
  display: flex;

}

.footer h3{
    display: none;
}
.bxs-phone-call,.bxl-gmail {
    font-size: 20px;
    margin: 4px;
    background-color: rgb(123, 120, 117);
    border-radius: 4px;
  }
  .name{
 margin-left: 1px;
 font-size: 8px;
  }
 .sub_footer h1{
    font-size: 18px;
 }
 .last{
    font-size: 9px;
 }

 .bxl-instagram-alt,.bxl-twitter {
    font-size: 25px;
    margin: 10px 15px;
 }
 .bxl-facebook{
    font-size: 25px;
 }



 
}